<!-- <div class="container-navbar">
    <mat-toolbar color="primary">
        <span>Bimakavach</span>
        <button style="margin-left: auto" mat-raised-button (click)="logout()" >Logout</button>
    </mat-toolbar>
</div> -->
<div class="navbar">
    <div class="navbar-brand">
      <span class="navbar-logo">Bimakavach</span>
    </div>
    <div class="navbar-links">
      <!-- <a href="#" class="navbar-link">Home</a>
      <a href="#" class="navbar-link">About</a>
      <a href="#" class="navbar-link">Services</a>
      <a href="#" class="navbar-link">Contact</a> -->
      <button class="navbar-button" (click)="logout()">Logout</button>
    </div>
  </div>