<!-- <div class="container-nabar">
  <mat-toolbar color="primary">
      <span>Bimakavach</span>
      <button mat-raised-button >Logout</button>
  </mat-toolbar>
</div> -->
<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="insurance-form" [formGroup]="buyPolicyform"  autocomplete="off">
        <div class="form-group">
          <h2>Buy Insurance Policy:</h2>
        </div>
        

        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" formControlName="firstName" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="dateOfBirth">Date of Birth:</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dob" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" class="form-control" formControlName="age" required>
        </div>

        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender" class="form-control" formControlName="gender" required>
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number:</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" formControlName="phonenumber"
            required>
        </div>

        <div class="form-group">
          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email" class="form-control" formControlName="emailaddress" required>
        </div>


        <div class="form-group">
          <label for="nationality">Nationality</label>
          <input type="text" id="nationality" name="nationality" class="form-control" formControlName="nationality"
            required>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" class="form-control" formControlName="address" required>
        </div>
        <div class="form-group">
          <label>Policy Type</label>
          <div class="radio-options">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="policyType" id="lifeInsurance"
                formControlName="Insurance" value="life">
              <label class="form-check-label" for="lifeInsurance">Life Insurance</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="policyType" id="autoInsurance"
                formControlName="Insurance" value="auto">
              <label class="form-check-label" for="autoInsurance">Auto Insurance</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="policyType" id="healthInsurance"
                formControlName="Insurance" value="health">
              <label class="form-check-label" for="healthInsurance">Health Insurance</label>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label>Policy Cover</label>
          <div class="checkbox-options">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="self" name="policyCover" formControlName="policyCover"
                value="life">
              <label class="form-check-label" for="self">Self</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="spouse" name="policyCover" formControlName="policyCover"
                value="auto">
              <label class="form-check-label" for="spouse">Spouse</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="son" name="policyCover" formControlName="policyCover"
                value="health">
              <label class="form-check-label" for="son">Son</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="daughter" name="policyCover"
                formControlName="policyCover" value="health">
              <label class="form-check-label" for="daughter">Daughter</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="father" name="policyCover"
                formControlName="policyCover" value="health">
              <label class="form-check-label" for="father">Father</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="mother" name="policyCover"
                formControlName="policyCover" value="health">
              <label class="form-check-label" for="mother">Mother</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="fatherinlaw" name="policyCover"
                formControlName="policyCover" value="health">
              <label class="form-check-label" for="fatherinlaw">Father In Law</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="motherinlaw" name="policyCover"
                formControlName="policyCover" value="health">
              <label class="form-check-label" for="motherinlaw">Mother In Law</label>
            </div>
          </div>
        </div> -->

        <button type="submit" class="btn btn-primary" [disabled]="buyPolicyform.invalid" (click)="onSubmit()" >Submit</button>
        <br><br><br><br>
        <button type="submit" class="btn btn-primary" (click)="backtoDashboard()">Back</button>
      </form>
    </div>
  </div>
</div>
