<div class="registration-container">
    <div class="left-section">
        <img src="../../assets/logo.jpeg" alt="Logo">
        <h1>Welcome to Bimakavach</h1>
    </div>
    <div class="right-section">
      <h2>Registration</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="register()" autocomplete="off
      ">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" formControlName="firstname" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" formControlName="lastname" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" required>
        </div>
        <button type="submit" [disabled]="registrationForm.invalid">Register</button>
      </form>
    </div>
  </div>