.registration-container {
    display: flex;
    height: 100vh;
    background-color: white;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
  }
  
  .left-section img {
    width: 200px;
    height: 200px;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  h1, h2 {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color:#13366c;
  }
  
  form {
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: contents;
    font-size: 20px;
    font-weight: 200;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #304ed4;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  