<app-navbar></app-navbar>
<div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src="../assets/selfservice.png" width="100%" height="180" class="card-img-top" alt="noimage">
      <div class="card-body">
        <h2 class="card-title">Claim Self Service</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button  class="btn btn-primary" (click)="claimPolicy()" >Click Here</button>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="../assets/buyPolicy.jpeg" width="100%" height="180" class="card-img-top" alt="noimage">
      <div class="card-body">
        <h2 class="card-title">Buy Policy</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button class="btn btn-primary" (click)="policyForm()">Click Here</button>
      </div>
    </div>
  </div>