<div class="login-container">
    <div class="left-section">
      <img src="../../assets/logo.jpeg" alt="Logo">
      <h1>Welcome to Bimakavach</h1>
    </div>
    <div class="right-section">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" id="email" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" required>
        </div>
        <div class="form-group">
            <h4 style="color: rgb(73, 69, 69);">Don't have account? <a href="register"> Create Account</a></h4>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <br> <br>

        <button type="reset" >Clear</button>

      </form>
    </div>
  </div>
  