/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */

.background {
    /* background-image: url('src/assets/background3.jpeg');
    background-size: cover; */
    background-color: rgb(102, 100, 100);
  }